#abertura img {
  display: block;
  margin: 0 auto;
}

#abertura i {
  color: #F4F4F9;
  font-size: 60px;
}

body {
  font-family: 'Arial', sans-serif;
  color: #0886fb;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #C0C0C0;
}
p.fs-4 {
  font-size: 1.25rem;
  color: #000000;
}
.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.accordion-button {
  background-color: #007BFF;
  color: #fff;
}
.accordion-button:not(.collapsed) {
  color: #007BFF;
  background-color: #E9ECEF;
}
.accordion-body {
  color: #555;
}
footer {
  color: #fff;
  padding: 20px;
}
footer a {
  color: #fff;

  margin: 0 10px;
}

#navbarcolapsed{
  background-color: rgb(151, 17, 140);

}
#separe{
  background-color: #000000;
  height: 1px;
  margin-top: 200px;
  padding-left: 1000px;
  border-color: #000000;
}

#botao1{
  background-color: rgb(76, 162, 5);
  border-color: rgb(76, 162, 5);
  height: 30px;
  width: 200px;
  padding-top: 1px;
  color: #f8f7f7;
  font-family: roboto;

}


.navbar {
  background-color: #fff;
  position: fixed; 
  height: 60px;
}

#text4{
  color: black;
  width: 100px;
  
}

#text6{
  color: black;
  width: 50px;
  
}

#logos{
  width: 80px ;
  margin-right: 50px;
}

#card1 .btn-primary{
  color: #ffffff;
  background-color: #0886fb;
  
}

#card1{
  padding-bottom: 70px;
  padding-top: 150px;
}

#card2{
  color: #000000;
  padding-top: 150px;
}


.card2-img{
  height: 400px;
}

#acord1{
  margin-top: 100px;
}


#carrosel1{
  width: 1000px;
  height: -100px;
}


#lista1{
  background-color: whitesmoke;
  margin-bottom: 100px;
}


.welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

.welcome-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.welcome-text {
  font-family: 'ubuntu-regular', cursive;
  font-size: 4rem;
  display: flex;
  gap: 0.2rem;
}

.welcome-text span:nth-child(1) {
  color: #1A73E8;
}

.welcome-text span:nth-child(2) {
  color: #EA4335;
}

.welcome-text span:nth-child(3) {
  color: #FBBC05;
}

.welcome-text span:nth-child(4) {
  color: #34A853;
}

#botao3{
  margin-top: 109px;
}

#botao0{
  margin-top: 20px;
}
.card-tamanho{
  width: 19rem!important;
  height: 35rem!important;
}

#titulo4{
  margin-bottom: 50px;
}

#descricao {
  padding-top: 60px;
}

#descricao h2 {
  padding-bottom: 20px;
}

#descricao p {
  color: #000;
  font-size: 20px;
  padding-bottom: 10px;
}



#imgroda{
width: 50px;
height: 50px;
padding: 5px;
}
#imgroda1{
width: 60px;
height: 60px;
  
}
#imgrodayoutube{
width: 70px;
height:60px ;

}

#linha{

color: #000;

}

#textrodape{
color: #000;

}

#imgrodape{
  width: 500px;
  height: 300px;
  margin-top: 0;
  padding-bottom: 100px;
  
}

